#include "resource.h"
#include "WinResrc.h"

#define IDC_STATIC  -1

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Add DSN (DSN name editable)
//

IDD_CONFIG_DSN DIALOGEX 0, 0, 279, 451
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Snowflake ODBC Configuration"
FONT 8, "MS Shell Dlg", 380, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,151,429,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,208,429,50,14
    PUSHBUTTON      "Test...",IDC_TEST_BUTTON,94,429,50,14
    EDITTEXT        IDC_DSNEDIT,95,4,162,16,ES_AUTOHSCROLL
    LTEXT           "Data Source:",IDC_STATIC,18,7,44,14
    EDITTEXT        IDC_UIDEDIT,95,24,162,16,ES_AUTOHSCROLL
    LTEXT           "User:",IDC_STATIC,18,27,44,14
    EDITTEXT        IDC_PWDEDIT,95,44,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,18,47,44,14
    EDITTEXT        IDC_HOSTEDIT,95,64,162,16,ES_AUTOHSCROLL
    LTEXT           "Server:",IDC_STATIC,18,67,44,14
    EDITTEXT        IDC_DBEDIT,95,84,162,16,ES_AUTOHSCROLL
    LTEXT           "Database:",IDC_STATIC,18,87,44,14
    EDITTEXT        IDC_SCHEMAEDIT,95,104,162,16,ES_AUTOHSCROLL
    LTEXT           "Schema:",IDC_STATIC,18,107,44,14
    EDITTEXT        IDC_WAREHOUSEEDIT,95,124,162,16,ES_AUTOHSCROLL
    LTEXT           "Warehouse:",IDC_STATIC,18,127,44,14
    EDITTEXT        IDC_ROLEEDIT,95,144,162,16,ES_AUTOHSCROLL
    LTEXT           "Role:",IDC_STATIC,18,147,44,14
    EDITTEXT        IDC_TRACINGEDIT,95,164,162,16,ES_AUTOHSCROLL
    LTEXT           "Tracing(0-6):",IDC_STATIC,18,167,44,14
    EDITTEXT        IDC_AUTHENTICATOREDIT,95,184,162,16,ES_AUTOHSCROLL
    LTEXT           "Authenticator:",IDC_STATIC,18,187,46,14
    EDITTEXT        IDC_PROXYEDIT,95,204,162,16,ES_AUTOHSCROLL
    LTEXT           "Proxy:",IDC_STATIC,18,207,44,14
    EDITTEXT        IDC_NO_PROXYEDIT,95,224,162,16,ES_AUTOHSCROLL
    LTEXT           "NoProxy:",IDC_STATIC,18,227,44,14
    EDITTEXT        IDC_PRIV_KEY_FILE_EDIT,95,244,162,16,ES_AUTOHSCROLL
    LTEXT           "Private key file:",IDC_STATIC,18,247,53,14
    EDITTEXT        IDC_PRIV_KEY_FILE_PWD_EDIT,95,264,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Private key password:",IDC_STATIC,18,267,72,14
    EDITTEXT        IDC_OAUTH_CLIENT_ID_EDIT,95,298,162,16,ES_AUTOHSCROLL
    LTEXT           "Client Id:",IDC_STATIC,18,301,44,14
    EDITTEXT        IDC_OAUTH_CLIENT_SECRET_EDIT,95,318,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Client Secret:",IDC_STATIC,18,321,44,14
    EDITTEXT        IDC_OAUTH_SCOPE_EDIT,95,338,162,16,ES_AUTOHSCROLL
    LTEXT           "Scope:",IDC_STATIC,18,341,44,14
    EDITTEXT        IDC_OAUTH_AUTHORIZATION_URL_EDIT,95,358,162,16,ES_AUTOHSCROLL
    LTEXT           "Authorization URL:",IDC_STATIC,18,361,64,14
    EDITTEXT        IDC_OAUTH_TOKEN_REQUEST_URL_EDIT,95,378,162,16,ES_AUTOHSCROLL
    LTEXT           "Token Request URL:",IDC_STATIC,18,381,66,14
    EDITTEXT        IDC_OAUTH_REDIRECT_URI_EDIT,95,398,162,16,ES_AUTOHSCROLL
    LTEXT           "Redirect URI:",IDC_STATIC,18,401,44,14
    GROUPBOX        "OAuth",IDC_STATIC,8,285,257,138
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Edit/Modify DSN (DSN name read-only)
//

IDD_CONFIG_DSN_EDIT DIALOGEX 0, 0, 279, 444
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Snowflake ODBC UD Configuration"
FONT 8, "MS Shell Dlg", 380, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,151,422,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,208,422,50,14
    PUSHBUTTON      "Test...",IDC_TEST_BUTTON,94,422,50,14
    EDITTEXT        IDC_DSNEDIT,95,4,162,16,ES_AUTOHSCROLL | ES_READONLY | WS_DISABLED | NOT WS_BORDER
    LTEXT           "Data Source:",IDC_STATIC,18,4,44,14
    EDITTEXT        IDC_UIDEDIT,95,17,162,16,ES_AUTOHSCROLL
    LTEXT           "User:",IDC_STATIC,18,20,44,14
    EDITTEXT        IDC_PWDEDIT,95,37,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,18,40,44,14
    EDITTEXT        IDC_HOSTEDIT,95,57,162,16,ES_AUTOHSCROLL
    LTEXT           "Server:",IDC_STATIC,18,60,44,14
    EDITTEXT        IDC_DBEDIT,95,77,162,16,ES_AUTOHSCROLL
    LTEXT           "Database:",IDC_STATIC,18,80,44,14
    EDITTEXT        IDC_SCHEMAEDIT,95,97,162,16,ES_AUTOHSCROLL
    LTEXT           "Schema:",IDC_STATIC,18,100,44,14
    EDITTEXT        IDC_WAREHOUSEEDIT,95,117,162,16,ES_AUTOHSCROLL
    LTEXT           "Warehouse:",IDC_STATIC,18,120,44,14
    EDITTEXT        IDC_ROLEEDIT,95,137,162,16,ES_AUTOHSCROLL
    LTEXT           "Role:",IDC_STATIC,18,140,44,14
    EDITTEXT        IDC_TRACINGEDIT,95,157,162,16,ES_AUTOHSCROLL
    LTEXT           "Tracing(0-6):",IDC_STATIC,18,160,44,14
    EDITTEXT        IDC_AUTHENTICATOREDIT,95,177,162,16,ES_AUTOHSCROLL
    LTEXT           "Authenticator:",IDC_STATIC,18,180,46,14
    EDITTEXT        IDC_PROXYEDIT,95,197,162,16,ES_AUTOHSCROLL
    LTEXT           "Proxy:",IDC_STATIC,18,200,44,14
    EDITTEXT        IDC_NO_PROXYEDIT,95,217,162,16,ES_AUTOHSCROLL
    LTEXT           "NoProxy:",IDC_STATIC,18,220,44,14
    EDITTEXT        IDC_PRIV_KEY_FILE_EDIT,95,237,162,16,ES_AUTOHSCROLL
    LTEXT           "Private key file:",IDC_STATIC,18,240,59,14
    EDITTEXT        IDC_PRIV_KEY_FILE_PWD_EDIT,95,257,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Private key password:",IDC_STATIC,18,260,73,14
    EDITTEXT        IDC_OAUTH_CLIENT_ID_EDIT,95,291,162,16,ES_AUTOHSCROLL
    LTEXT           "Client Id:",IDC_STATIC,18,294,44,14
    EDITTEXT        IDC_OAUTH_CLIENT_SECRET_EDIT,95,311,162,16,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Client Secret:",IDC_STATIC,18,314,44,14
    EDITTEXT        IDC_OAUTH_SCOPE_EDIT,95,331,162,16,ES_AUTOHSCROLL
    LTEXT           "Scope:",IDC_STATIC,18,334,44,14
    EDITTEXT        IDC_OAUTH_AUTHORIZATION_URL_EDIT,95,351,162,16,ES_AUTOHSCROLL
    LTEXT           "Authorization URL:",IDC_STATIC,18,354,64,14
    EDITTEXT        IDC_OAUTH_TOKEN_REQUEST_URL_EDIT,95,371,162,16,ES_AUTOHSCROLL
    LTEXT           "Token Request URL:",IDC_STATIC,18,374,66,14
    EDITTEXT        IDC_OAUTH_REDIRECT_URI_EDIT,95,391,162,16,ES_AUTOHSCROLL
    LTEXT           "Redirect URI:",IDC_STATIC,18,394,44,14
    GROUPBOX        "OAuth",IDC_STATIC,8,278,252,137
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog - Test Results
//

IDD_TESTRESULT_DIALOG DIALOGEX 0, 0, 247, 191
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Test Results"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,99,172,50,14
    GROUPBOX        "Test Results",IDC_TESTRESULT_GROUP_BOX,7,7,233,161
    EDITTEXT        IDC_TESTRESULT_EDIT,14,21,219,135,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END
