.gradle/
bin/
.idea/
target/
parameters*.json
cmake-build*
.venv
__pycache__/
build/reports
jdbc/.gradle
jdbc/build
odbc_tests/cmake-build
parameters.json
rsa_key.p8
universal_driver_e2e_test_coverage.html
sf_core/src/bin
.vscode
