# Build outputs
bin/
obj/

# NuGet
*.nupkg
*.snupkg
project.assets.json
*.nuget.props
*.nuget.targets

# User-specific files
*.user
*.suo
*.userprefs

# IDE
.vs/
.idea/
*.DotSettings.user
*.dotCover

# Test results
TestResults/
*.coverage
*.coveragexml

# Ignore config files
/testEnvironments.json
/parameters.json
parameters*.json
toml_config_folder/
*.toml
*.p8
